@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-background: #101111;
    --color-button: #310082;
    --color-hover: #200053;
    --color-border: #f7f7ed;
    --color-text: #f7f7ed;
    --color-details: #292929;
    --color-nav: #1c1c1c;
}

body {
    background-color: var(--color-background);
    font-family: 'Roboto Mono', sans-serif;
    margin: 0; 
    padding: 0;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}